REGISTRY_CONTRACT_ADDRESS=
OPERATIONS_CONTRACT_ADDRESS=
VOTING_CONTRACT_ADDRESS=
CONTRACT_ADDRESS=
DEPLOYER_ADDRESS=
AZTEC_NODE_URL=http://localhost:8080
REGISTRY_DEPLOYMENT_SALT=
OPERATIONS_DEPLOYMENT_SALT=
VOTING_DEPLOYMENT_SALT=
ARTIFACTS_HASH=